// Font

@import url('https://fonts.googleapis.com/css?family=Kanit:700|Open+Sans|Poppins:700&display=swap');

$font-logo: 'Kanit', 'Poppins', Arial, sans-serif;
$font-header: 'Poppins', Arial, sans-serif;
$font-text: 'Open Sans', Arial, sans-serif;